/* BU KODLAR O'ZGARMASLIGI KERAK !!! */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-BoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Barcelona";
  src: url("/fonts/Barcelona-Graffiti-Bombing.otf");
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-Regular.ttf");
}
@font-face {
  font-family: "Fredoka";
  src: url("/fonts/Fredoka-Regular.ttf");
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}

body {
  font-family: "Nunito";
}

.custom-table .ant-table-thead > tr > th {
  background-color: #2d2d2d !important;
  color: white !important;
  border-bottom: 1px solid #444;
}

.custom-table .ant-table-tbody > tr > td {
  background-color: #1f1f1f !important;
  color: white !important;
  border-bottom: 1px solid #333;
}

.custom-table .ant-table-tbody > tr:hover > td {
  background-color: #2d2d2d !important;
}

.rhap_container {
  background-color: transparent !important;
  box-shadow: none !important;
}

.rhap_progress-filled {
  background-color: #3b82f6 !important;
}

.rhap_progress-indicator {
  background-color: #3b82f6 !important;
}

.rhap_button-clear {
  color: #3b82f6 !important;
}

.rhap_volume-button {
  color: #3b82f6 !important;
}

.rhap_volume-bar,
.rhap_volume-indicator {
  background-color: #3b82f6 !important;
}
.react-pdf__Page__canvas {
  width: 100% !important;
}

.ant-menu-item-selected {
  background-image: linear-gradient(90deg, #a580e9 0%, #e07faf 100%);
  background-color: transparent !important;
}

@keyframes rotating-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-border-spin {
  background: linear-gradient(90deg, #0043ff, #e50813, #0043ff, #e50813);
  background-size: 400% 400%;
  animation: rotating-border 8s ease infinite;
}
